h1{
  color:#FEA506;
  text-align:center;
}
h2{
  background-color:#FEA506;
  color:#4D7F3C;
  font-style:italic;
  text-align:center;
}
p{
  font-family:sans-serif;
  font-size:20px;
  line-height:2.5;
}
